@layer theme, base, mui, components, utilities;
@import "tailwindcss";

:root {
  --font-sans: -apple-system, BlinkMacSystemFont, system-ui,
    "Apple SD Gothic Neo", "Noto Sans KR", "Noto Sans", "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
}

html,
body {
  font-family: var(--font-sans);
}
